/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-theme.min.css
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */

body {
  background-color: #006F71;
 }

.notification {
   background-color: #006F71;
   position: relative;
 }

.games {
  border: solid black 2px;
}

section {
  border: solid black 2px;
  background-color: violet;
}

li {
  border: solid black 2px;
  font-size: 2em;
  list-style: none;
  margin: .3em;
  text-align: center;
  border-radius: 5px;
  height: 3em;
  color: #44A984;
}

.number-card {
  background-color: #472255;
}

.hand {
  background-color: #185567;
  border: solid black 2px;
  margin: 2px;
  height: 10em;
}

.user-info {
  margin: auto;
  position: relative;
}

header>div>p {
  color: #44A984;
  /*text-align: center;*/
  margin-top: 2em;
  position: absolute;
  bottom: 0;
  font-size: 2em;
}

.playing-board {
  background-color: #185567;
  border: solid black 2px;
  height: 20em;
  margin: auto;
  border-radius: 2px;
  /*margin: 2px;*/
}

.user-nav {
  border: solid black 2px;
  background-color: #472255;
  text-align: center;
  margin: 1em;
  padding: .5em;
  float: right;
  margin-top: 4em;
  border-radius: 5px;
  color: #44A984;
}

.log-in {
  border: solid black 2px;
  background-color: #472255;
  margin: 1em;
  padding: 1em;
  margin-top: 4em;
  border-radius: 5px;
  color: #44A984;
  text-align: center;
}

.button {
  border: solid black 2px;
  display: block;
  margin-bottom: 0px;
  float: right;
  background-color: #472255;
  border-radius: 5px;
  margin: 2px;
  color: #44A984;
}

.message {
  background-color: lightyellow;
  position: absolute;
  bottom: 0;
  font-size: 1.9em;
  margin: 2px;
  color: #44A984;
}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "d";
  color: rgb(225,240,120);
}
