<!DOCTYPE html>
<html>
<head>
  <title>MathGame</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css"> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
